@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway';
}

body {
    padding: 0;
    margin: auto;
    background: rgb(110, 24, 230);
}

/* HEADER */

header {
    transition: 1s;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 350px;
    border: 2px solid black;
    font-size: 40px;
    font-family: 'Raleway';
    margin-top: 23px;
    margin-bottom: 23px;
}

#btn {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
    outline: none;
    transition: 0.3s;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    text-align: center;
    font-size: 50px;
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: -40px;
}

/* HEADER */

#container {
    margin: auto;
    position: relative;
    width: 600px;
    height: 300px;
}

.table {
    margin-top: 50px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}

.table > div {
    transition: 0.25s;
    width: 160px;
    height: 140px;
    background-color: #FFF;
    text-align: center;
    align-self: center;
    color: #000;
    padding-top: 35px;
    font-size: 70px;
    border-radius: 5px;
    border: 1px solid #000;
}

#msg1 {
    text-align: center;
    color: #FFF;
    font-size: 2.5em;
    margin-top: 130px;
    transition: 0.5s;
}

#msg2 {
    text-align: center;
    color: #FFF;
    font-size: 2.5em;
    transition: 0.5s;
}

.st {
    margin-top: 170px;
    text-align: center;
    font-size: 1.8em;
    color: #FFFFFF;
}

.tt {
    text-align: center;
    line-height: 40px;
    font-size: 1.5em;
    color: #FFFFFF;
}

/* media buttons */

.cb {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.media {
    outline: none;
    border: none;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    transition: 0.3s;
}

.media, a {
    text-decoration: none;
    font-size: 30px;
    color: #000000;
    
}

footer {
    margin-top: -60px;
    vertical-align: top;

}

.tc {
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    font-size: 25px;
}

/* CSS EFFECTS */

header:hover {
    background: #700ee1;
    transition: 0.8s;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 380px;
    border: 2px solid black;
    font-size: 42px;
    padding: 2px 0px;
    margin-top: 23px;
    margin-bottom: 23px;
    color: #000;
}

#msg1:hover {
    opacity: 10%;
    transition: 0.5s;
    text-align: center;
    color: #FFF;
    font-size: 2.5em;
    margin-top: 130px;
}

#msg2:hover {
    opacity: 10%;
    text-align: center;
    color: #FFF;
    font-size: 2.5em;
    transition: 0.5s;
}

#btn:active {
    background-color: #c3c3c3;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
    outline: none;
    transition: 0.3s;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    text-align: center;
    font-size: 48px;
}

.table > div:hover {
    transition: 0.25s;
    width: 160px;
    height: 140px;
    background-color: #c3c3c3;
    text-align: center;
    align-self: center;
    color: #000;
    padding-top: 35px;
    font-size: 70px;
    border-radius: 5px;
    border: 1px solid #000;
}

.media:nth-child(1):hover{
    transition: 0.3s;
    text-decoration: none;
    font-size: 35px;
    color: #000000;
    background-color: rgb(36, 36, 36)
}

.media:nth-child(2):hover{
    transition: 0.3s;
    text-decoration: none;
    font-size: 35px;
    color: #000000;
    background-color:rgb(10, 102, 194);
}

.media:nth-child(3):hover{
    transition: 0.3s;
    text-decoration: none;
    font-size: 35px;
    color: #000000;
    background-color: rgb(255, 69, 0);
}